// sidebar
//$menuText:#bfcbd9;//菜单标题颜色
$menuText:black;
//$menuActiveText:#409EFF; //菜单点击后的颜色
$menuActiveText:#6495ED;
//$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951
$subMenuActiveText:#6495ED; //一级标题点击后颜色
//$menuBg:#304156;
$menuBg:rgb(255,255,255) ;
//$menuHover:#263445;
$menuHover:#FFFAFA;

//$subMenuBg:#1f2d3d;
$subMenuBg:rgb(255,255,255); //菜单本来的颜色
//$subMenuHover:#001528;
$subMenuHover:rgb(245,250,255); //菜单触发的背景颜色

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
